# PostgreSQL
POSTGRES_USER=pipeline_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=sensor_data
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Pipeline
PIPELINE_INTERVAL_MINUTES=5

# API
API_HOST=0.0.0.0
API_PORT=8000
